
LR1/task3/.vs/task3/v16/Browse.VC.db-wal
LR1/task3/.vs/task3/v16/.suo
LR1/task3/.vs/task3/v16/Browse.VC.opendb
LR1/task3/Debug/task3.exe
LR1/task3/.vs/task3/v16/Browse.VC.db
LR1/task3/.vs/task3/v16/Browse.VC.db-shm
LR1/task3/.vs/task3/v16/ipch/AutoPCH/6ec5bcd35aebf95a/TASK3.ipch
LR1/task3/Debug/task3.ilk
LR1/task3/Debug/task3.pdb
